.card{
    border: none;

    &:hover{
        filter: brightness(96%);
    }

    .card-body{
        padding: 10px 3px;

        h3{
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Número de linhas que deseja exibir */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $small;
            margin-top: 5px;
            font-weight: 300;
            color: #000;
        }

        .old-price{
            color: #000;
            text-decoration: line-through;
            margin-right: 5px;
            opacity: .7;
            font-size: $nano;
        }

        .current-price{
            font-size: $small;
            margin-right: 5px;
            color: $secondary-color;
            font-weight: 600;
        }

        .shipping{
            color: #00A650;
            font-size: $nano;
            white-space: nowrap;
        }
    }
}
