// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto:wght@300;400&display=swap');

// Site Palette
$primary-color: #FAFAFA;
$secondary-color: #000;
$third-color: #DDDDDD;

// Site Font Size
$nano: 13px;
$small: 17px;
$medium: 22px;
$large: 30px;

@mixin landscape{
    @media (orientation: landscape) and (max-width: 992px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 768px){
        @content;
    }
}

@mixin laptop{
    @media (min-width: 992px){
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1400px){
        @content;
    }
}


// Reset CSS
*,
*::after,
*::before,
a,
ul{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
    list-style: none;
}

body{
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@include desktop{
    .container{
        max-width: 80%;
    }
}

header{
    .topbar{
        padding: 10px 20px;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 4;
        background-color: $secondary-color;
        font-size: $large;

        @include laptop{
            &{
                padding: 5px 40px;
            }
        }

        nav{
            a{
                right: 10px;
                color: $primary-color;

                &:nth-child(1), &:nth-child(2){
                    display: none;
                }

                &:last-child{
                    position: relative;
                    color: #fff;

                    span{
                        background-color: $third-color;
                        color: $secondary-color;
                        font-size: $nano;
                        position: absolute;
                        top: -6px;
                        left: 20px;
                        border-radius: 50%;
                        padding: 0 3px;
                    }
                }

                @include laptop{
                    &:nth-child(1), &:nth-child(2){
                        display: inline;
                    }
                }
            }
        }

        h1{
            font-size: $large;
            font-family: 'Playfair Display SC', serif;
            color: $primary-color;
        }

        form{
            position: relative;
            top: -3px;
            width: calc(100% - 150px);
            max-width: 400px;

            input{
                outline: none;
                border: none;
                font-size: $small;
                height: 40px;
                width: 100%;
                border-radius: 30px;
                padding: 0 10px;
            }

            button{
                height: 40px;
                font-size: $small;
                top: 7px;
                position: absolute;
                background-color: $third-color;
                right: 0;
                border-radius: 0 30px 30px 0;
                border: none;
                padding: 0 10px;
            }
        }

        #chk{
            display: none;
        }

        .hamburger{
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            span{
                display: block;
                width: 30px;
                height: 2.5px;
                position: relative;
                z-index: 2;
                background-color: #fff;

                &:before, &:after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2.5px;
                    position: absolute;
                    transition: .5s;
                    background-color: #fff;
                }

                &:before{
                    top: -8px;
                }

                &:after{
                    bottom: -8px;
                }
            }
        }
    }

    .sidebar{
        width: 60%;
        max-width: 300px;
        height: 100vh;
        position: fixed;
        z-index: 4;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        overflow-Y: scroll;
        left: -70%;
        transition: .3s;
        background-color: $primary-color;

        &::-webkit-scrollbar {
            display: none; /* Hide scrollbar for Chrome, Safari and Opera */
        }

        &{
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        &-top{
            background-color: $secondary-color;
            padding: 20px 15px;

            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 20px;
            }

            .btn-config{
                padding: 10px;
                border-radius: 30px;
                background-color: $third-color;
                color: #000;
            }
        }

        &-navbar{
            padding: 20px 5px;
            background-color: $primary-color;

            @include laptop{
                &{
                    position: fixed;
                    left: 0%;
                    top: 55px;
                    min-width: 100%;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    z-index: 4;
                    margin: 0;

                    i{
                        display: none;
                    }
                }
            }

            i{
                margin-right: 10px;
                font-size: $small + 3px;
            }

            a{
                width: 100%;
                font-size: $small + 3px;
                padding: 5px 15px;
                display: block;
                margin-bottom: 10px;
                transition: .3s;
                color: #000;

                &:hover{
                    margin-left: 5px;
                    opacity: .5;
                }

                @include laptop{
                    &{
                        width: auto;
                        padding: 5px 15px;
                        margin-bottom: 0;
                    }

                    &:hover{
                        margin-left: 0;
                    }
                }
            }

            #btn-helper, #btn-categories{
                width: 100%;
                cursor: pointer;
                font-size: $small + 3px;

                @include laptop{
                    &{
                        font-size: $small + 2px;
                    }
                }
            }

            .categories-submenu, .helper-submenu{
                height: 0px;
                overflow: hidden;
                padding: 10px 0;
                background-color: $primary-color;

                a{
                    font-size: $small;
                    margin-bottom: 5px;

                    i{
                        font-size: $small + 3px;
                    }
                }

                @include laptop{
                    &{
                        position: absolute;
                        top: 40px;
                        text-align: center;
                        max-width: 250px;
                        padding: 0;

                        a{
                            margin-bottom: 0px;

                            &:hover{
                                opacity: 1;
                                background-color: $secondary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .open-submenu{
                height: 100%;

                @include laptop{
                    &{
                        height: 400px;
                        overflow: scroll;
                    }

					&::-webkit-scrollbar {
						display: none; /* Hide scrollbar for Chrome, Safari and Opera */
					}

					&{
						-ms-overflow-style: none;  /* IE and Edge */
						scrollbar-width: none;  /* Firefox */
					}
                }
            }
        }
    }
}

main{
    .cookie-alert{
        position: fixed;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        width: 90%;
        max-width: 500px;
        display: none;
        background-color: $third-color;

        button{
            margin-right: 20px;
        }

        img{
            width: 50px;
            margin-bottom: 20px;
        }

        h3{
            font-size: $small;
            font-weight: bold;
        }

        @include laptop{
            &{
                max-width: 100%;
                width: 100%;
                bottom: 0px;
                top: initial;
                left: 0;
                transform: initial;
            }
        }
    }
}

footer{
    .infobar{
        padding: 50px 0;
        background-color: $third-color;

        &-item{
            display: flex;
            color: $secondary-color;

            i{
                font-size: $large;
                margin-right: 20px;
            }

            h2{
                font-weight: bold;
                font-size: $small;
            }
        }
    }

    .footer-container{
        background-color: $secondary-color;
        padding-top: 60px;

        h2{
            font-size: $small + 2px;
            color: $primary-color;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .subscribe{
            form{
                max-width: 430px;

                input{
                    border-radius: 10px 0 0 10px;
                }

                button{
                    background-color: $third-color;
                    border-radius: 0 10px 10px 0;
                    padding: 5px;
                    border: none;
                }
            }
        }

        .social{
            margin: 60px 0;

            @include tablet{
                &{
                    margin: 0;
                }
            }

            ul{
                display: flex;

                li{
                    a{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        font-size: $medium;
                        transition: .3s;
                        color: $primary-color;

                        &:hover{
                            transform: rotate(50deg);
                        }
                    }
                }
            }
        }

        p{
            font-size: $small;
            color: $primary-color;
        }
    }
}
